* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.banner_container {
  background-image: url(smart-ticketing/images/banner.png);

}

li {
  display: flex;
  justify-content: space-between;
  
}

.seat {
  background: #E6E7E8;
  padding: 0.7rem 1rem;
  border-radius: 5px;
}
